@font-face {
  font-family: 'KossyNeue-Medium';
  src: url('../fonts/KossyNeue-Medium.eot?#iefix') format('embedded-opentype'),  
  url('../fonts/KossyNeue-Medium.woff') format('woff'), 
  url('../fonts/KossyNeue-Medium.ttf')  format('truetype'), 
  url('../fonts/KossyNeue-Medium.svg#KossyNeue-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'KossyNeue-Mono';
  src: url('../fonts/KossyNeue-Mono.eot?#iefix') format('embedded-opentype'),  
  url('../fonts/KossyNeue-Mono.woff') format('woff'), 
  url('../fonts/KossyNeue-Mono.ttf')  format('truetype'), 
  url('../fonts/KossyNeue-Mono.svg#KossyNeue-Mono') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Miller-Display';
  src: url('../fonts/Miller-Display.eot?#iefix') format('embedded-opentype'),  
  url('../fonts/Miller-Display.otf')  format('opentype'),
       url('../fonts/Miller-Display.woff') format('woff'), 
       url('../fonts/Miller-Display.ttf')  format('truetype'), 
       url('../fonts/Miller-Display.svg#Miller-Display') format('svg');
  font-weight: normal;
  font-style: normal;
}
